* {
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}
.imgBackground {
    width: 100%;
    height: 649px;
    position: relative;
}

.title {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    padding: 10px 0px;
    color: #fff;
    font-weight: bold;
}

.title span {
    color: red;
    font-weight: bold;
    padding: 10px 0px;
}

.img_Model {
    position: absolute;
    top: 65px;
    left: 28%;
    /* width: 50%; */
    display: flex;
}

.Model_Left {
    border: 1px solid rgb(206, 206, 206);    
    
}

.img_Model_Left {
    width: 250px;
    height: 300px;
    position: relative;  
}

.Model_Left .detail_Name_Desc {
    position: absolute;
    top: 201px;
    width: 42.7%;
    background-color: rgba(255, 188, 125, 0.678);
}

.detail_Name_Desc h5 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(25, 0, 255);
    text-align: left;
    padding-left: 5px;
}

.detail_Name_Desc p {
    font-size: 12px;
    text-align: left;
    color: white;
    font-weight: bold;
    padding-left: 5px;
}

.img_Model i {
    font-size: 60px;
    padding: 111px 10px;
    color: rgba(255, 0, 242, 0.678);
}

.Model_Right{  
    border: 1px solid rgb(206, 206, 206);    
}

.img_Model_Right {
    width: 250px;
    height: 300px;
}

.cont_glasses {
    position: absolute;
    top: 410px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.678);
    width: 100% !important;
}

.glasses {
    padding: 5px 200px;
}

.img_Glasses {
    width: 160px;
    height: 60px;
}



